<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9GO7M73p1coL-yKaUZHNBYTaUiKFaP7I</string>
	<key>GCM_SENDER_ID</key>
	<string>334530970486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exam</string>
	<key>PROJECT_ID</key>
	<string>exam-fd0ef</string>
	<key>STORAGE_BUCKET</key>
	<string>exam-fd0ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334530970486:ios:879b7ed96778f9d87e3057</string>
</dict>
</plist>